{% extends 'articles/base.html' %}

{% block user %}
<div class="user_info">
    Профиль {{ article.articles.title }}
</div>

{% endblock %}

{% block content %}
  {% for article in articles %}
    <div class="post">
        <ul>
          <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        </ul>
        <ul>
          <h5>{{ article.created_time }}</h5>
        </ul>

    </div>
  {% empty %}
    <h1>Blog</h1>

    <p>No posts yet.</p>
  {% endfor %}
<a href="{% url 'article_create' %}"> Добавить запись </a>
{% endblock content %}