{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
<div class="container">
	<div class="row">
	    <div class="col-md-8 col-md-offset-2">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Удалить запись</legend>
                    <h2>Вы уверены, что хотите удалить эту запись "{{ article.title }}"</h2>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-danger" type="submit">Да</button>
                    <a class="btn btn-outline-secondary" href="{% url 'article_detail' object.id %}">Нет</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}