{% extends "base.html" %}

{% block content %}
{% load widget_tweaks %}
<div class="container">
	<div class="row">

	    <div class="col-md-8 col-md-offset-2">

    		<h1>Новая запись</h1>
            <form method="post">
                {% csrf_token %}

                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {% render_field field class="form-control" %}

                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Опубликовать</button>
            </form>
		</div>
	</div>
</div>

{% endblock content %}